body {
background-image: url("question1.jpg");  
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 2000px;
background-position: center center;
position: relative;
margin: 0;
}

.prompt{
 display: flex;
 margin: 100px 0;
 position: absolute;
 top: 10%;
 left: 91%;
 transform: translate(-100%, -100%);
 z-index: 2;
 width: 80%;
 padding: 20px;
 text-align: center;
 display: block;
}


code{
color: white;
text-align: left;
}

.code{
background-color: rgb(0, 0, 0); 
background-color: rgba(0,0,0, 0.4); 
color: white;
font-weight: bold;
position: absolute;
top: 40%;
left: 30%;
transform: translate(-100%, -100%);
width: 20%;
padding: 50px;
text-align: left;
}

h2{
font-family: 'Source Code Pro', monospace;
color: white ; 
text-shadow: 2px 2px 4px #000000;
text-align: center; 
}



.button{
border: none;
padding: 40px 40px;
color: black;
background:linear-gradient(to right, rgb(208, 208, 227), rgb(110, 173, 210));
text-align: center;
text-decoration: none;
display: grid;
font-size: 16px;
transition-duration: 0.4s;
cursor: pointer;
position: relative;
top: 20%;
left: 40%;
z-index: 5;
margin: 20px ;

}

a{
    font-family: 'Source Code Pro', monospace;
    color: white ; 
    text-shadow: 2px 2px 4px #000000;
    text-align: center; 
}