
.bg-text {
background-color: rgb(0, 0, 0); 
background-color: rgba(0,0,0, 0.4); 
color: white;
font-weight: bold;
border: 3px solid;
border-image: linear-gradient(to right, darkblue, darkorchid) 1;
position: absolute;
top: 10%;
left: 91%;
transform: translate(-100%, -100%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}

.container{
display: flex;
justify-content: space-between;
margin: 100px 0;
position: absolute;
top: 20%;
left: 91%;
transform: translate(-100%, -100%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
display: block;
}

h1{
font-family: 'Libre Franklin', sans-serif;
color: white;
text-align: center;
}

h2 {
font-family: 'Source Code Pro', monospace;
color: white ; 
text-shadow: 2px 2px 4px #000000;
text-align: center;   
}

body {
background-image: url("backgroundimage.jpg");  
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 2000px;
background-position: center center;
position: relative;
margin: 0;
}

.img {
  padding: 50px;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 38%;
}

.img:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

