title {
font-family: Arial, Helvetica, sans-serif;
color: 042e27 ;
border: red ;
text-align: center;
}

p {
font-family:'Times New Roman', Times, serif;
color: 042e27 ;
}

h1 {
font-family: Arial, Helvetica, sans-serif;
color: 042e27 ;    
}

body{
    background-image: url("backgroundimage.jpeg");
}


